@page "/SchedulesDashboard"
@inherits SchedulesBase;

<main>
    <div class="row">
        <div class="container">
            <h1> Schedules </h1>

            <!-- Display schedules -->

            <div class="card bg-white shadow">
                <div class="">

                </div>

            </div>

        </div>
    </div>
</main>

@code {

}
