@page "/Dashboard"
@inherits DashboardBase

<div>

    <main class="">
        <div class="row">

            <!-- This is the main page content -->
            <div class="col-8">
                <h1>Dashboard</h1>

                <div class="container">
                    <div class="card bg-white shadow">
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

@code {

}
