@page "/VehicleTypesDashboard"
@inherits VehicleTypeBase


<main class="">
    <div class="row">
        <!-- This is the main page content -->
        <div class="container">
            <h1>Vehicle Models</h1>

            <!-- Display all vehicles -->
            
            <div class="card bg-white shadow">
                <div class="card-header bg-white">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start" >
                            <button class="btn btn-success shadow">Export to excel</button>
                        </div>
                        <div class="d-flex justify-content-end" >
                            <button class="btn btn-primary" @onclick="AddVehicleType">Add Vehicle Model</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Vehicle Model</th>
                                <th scope="col">Questionaire</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in VehicleTypes)
                            {
                                <tr>
                                    <td>
                                        @vehicle.VehicleTypeTitle
                                    </td>

                                    @if(vehicle.hasQuestionaire == true)
                                    {
                                        @foreach(var questionaire in Questionaires)
                                        {
                                            if(questionaire.QuestionaireID == vehicle.QuestionaireID)
                                            {
                                                <td>
                                                    @questionaire.Title
                                                </td>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            No Questionaire
                                        </td>
                                    }
                                    <td>
                                        <a href="ViewVehicleType/@vehicle.VehicleTypeID" @onclick="() =>viewVehicleType(vehicle.VehicleTypeID)">
                                            <img src="iCONS/visibility_FILL0_wght400_GRAD0_opsz48.png" width="32" height="32" />
                                        </a>

                                    </td>
                                    <td>

                                        <a href="EditVehicleType/@vehicle.VehicleTypeID" @onclick="() =>editVehicleType(vehicle.VehicleTypeID)">
                                            <img src="iCONS/edit_FILL0_wght400_GRAD0_opsz48.png" width="32" height="32" />
                                        </a>
                                    </td>
                                    <td>

                                        <a>
                                            <img src="iCONS/delete_FILL0_wght400_GRAD0_opsz48.png" width="32" height="32" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

</main>

@code {

}
