@page "/ChangePassword"
@inherits AccountBase;
@using MudBlazor

<MudCard Class="align-content-center; container-sm">
    <img class="mb-4" src="iCONS/lock_reset_FILL0_wght400_GRAD0_opsz48.png" alt="" width="100" height="auto">
    <MudForm>

        <h1 class="h3 mb-3 fw-normal">Set New Password</h1>

        <MudItem Class="form-floating">
            <MudTextField Label="New Password" Class="mt-3" Variant="Variant.Outlined"
            @bind-Value="NewPassword" For="@(() => NewPassword)" InputType="InputType.Password" Placeholder="Password" />
        </MudItem>
        <br />
        <MudItem Class="form-floating">
            <MudTextField Label="Confirm New Password" Class="mt-3" Variant="Variant.Outlined"
            @bind-Value="confirmPassword" For="@(() => confirmPassword)" InputType="InputType.Password" Placeholder="Password" />

        </MudItem>
        <br />
        <button class="w-100 btn btn-lg btn-primary" @onclick="ResetPassword">Submit</button>
        <br />
    </MudForm>
</MudCard>

@code {

}
