@page "/ForgotPasswordChange"
@layout EmptyLayout
@inherits AccountBase;
@using MudBlazor

<MudCard Class="align-content-center; container-sm">
    <img class="mb-4" src="images/WhatsApp Image 2021-01-22 at 19.03.23.jpeg" alt="" width="200" height="200">
    <MudForm>

        <a href="" class="nav-link text-black link-dark">
            <img src="iCONS/arrow_back_FILL0_wght400_GRAD0_opsz48.png" class="rounded-circle">
        </a>
        <h1 class="h3 mb-3 fw-normal">Set New Password</h1>

        <MudItem Class="form-floating">
            <MudTextField Label="New Password" Class="mt-3" Variant="Variant.Outlined"
            @bind-Value="NewPassword" For="@(() => NewPassword)" InputType="InputType.Password" Placeholder="Password" />
        </MudItem>
        <br />
        <MudItem Class="form-floating">
            <MudTextField Label="Confirm New Password" Class="mt-3" Variant="Variant.Outlined"
            @bind-Value="confirmPassword" For="@(() => confirmPassword)" InputType="InputType.Password" Placeholder="Password" />
        </MudItem>
        <br />
        <button class="w-100 btn btn-lg btn-primary" @onclick="ChangePassword">Submit</button>
        <br />
        <br />
    </MudForm>
</MudCard>

@code {
   
}
