@page "/ForgotPasswordEmail"
@layout EmptyLayout
@inject NavigationManager navMan;
@inherits AccountBase;
@using MudBlazor

<MudCard Class="align-content-center; container-sm">
    <img class="mb-4" src="images/firsttechlogo.png" alt="" width="200" height="200">
    <MudForm>

        <a href="" class="nav-link text-black link-dark">
            <img src="iCONS/arrow_back_FILL0_wght400_GRAD0_opsz48.png" class="rounded-circle">
        </a>
        <h1 class="h3 mb-3 fw-normal">Please Enter Your Email</h1>

        <MudItem Class="form-floating">
            <MudTextField Label="Email Address" Class="form-control" Variant="Variant.Outlined"
            @bind-Value="findEmailDTO.Email" For="@(() => findEmailDTO.Email)" Placeholder="name@example.com" />
        </MudItem>
        &nbsp;
        &nbsp;
        <MudItem Class="form-floating; margin-top: 2px">
            <br />
            <button class="w-100 btn btn-lg btn-primary" style="margin-top: 50px" @onclick="FindEmail">Find Email</button>
        </MudItem>
        <br />
    </MudForm>
</MudCard>

@code {

}
