@page "/"
@layout EmptyLayout
@inherits AccountBase;
@using MudBlazor

<div class="align-content-center; container-sm">
    <img class="mb-4" src="images/WhatsApp Image 2021-01-22 at 19.03.23.jpeg" alt="" width="200" height="200">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Email" Class="form-control" Variant="Variant.Outlined"
            @bind-Value="login.Email" For="@(() => login.Email)" Placeholder="name@example.com" />
            <MudTextField Label="Password" Class="mt-3" Variant="Variant.Outlined"
            @bind-Value="login.Password" For="@(() => login.Password)" InputType="InputType.Password" Placeholder="Password" />
        </MudCardContent>
    </MudCard>
    <div>

        <br />
        <button class="w-100 btn btn-outline-primary shadow" @onclick="GoToForgotPasswordEmail">Forgot Password?</button>
        <br />
        <br />
        <button class="w-100 btn btn-lg btn-primary shadow" @onclick="LoginProfile">Sign in</button>
        <br />
        <br />
        <div>
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link text-black ">
                        Dont have an account ?
                        <button class="w-75 btn btn-outline-primary shadow" @onclick="GotoRegister">Create one</button>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

@code {

}