@page "/Header"
@inject NavigationManager navMan;

<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <!-- This is the Drop Down Menu -->
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="images/firstTechDigitalLogo.png" alt="" width="32" height="32" class="rounded-circle shadow">
                More Insights
            </a>
            <ul class="dropdown-menu text-small shadow" style="">
                <li><a class="dropdown-item" href="#">Overview</a></li>
                <li><a class="dropdown-item" href="#">Inventory</a></li>
                <li><a class="dropdown-item" href="#">Analytics</a></li>
            </ul>
        </div>
        <!-- This is the Search Button -->
        <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <!-- This is the Profile Button -->

            <div class="flex-shrink-0 dropdown">
                <a class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome &nbsp; &nbsp;  &nbsp;  <img src="iCONS/person_FILL0_wght400_GRAD0_opsz48.png" alt="" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" @onclick="GoToProfile">Profile</a></li>

                </ul>
            </div>

        </div>
    </div>
</header>

@code {

    void GoToProfile()
    {
        navMan.NavigateTo("Profile");
    }

}
